<h2>Log in</h2>
<form action="/login" method="POST">
    <p>Email</p>
    <input type="email" name="email" placeholder="Your email address" />
    <p>Password</p>
    <input type="password" name="password" placeholder="Your password" />
    <button type="submit">Log in</button>
    <br>
    <p>No account yet? <a href="/signup">Create one now!</a></p>
</form>