<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {{#if user}}
        <a class="nav-item nav-link" href="/user/overview">Overview</a>
        <a class="nav-item nav-link" href="/user/user-Profile">Profile</a>
        <form id="logout-form" action="/logout" method="POST">
          <button>Logout</button>
        </form>
      {{else}}
        <a class="nav-item nav-link" href="/signup">Sign up</a>
        <a class="nav-item nav-link" href="/login">Log in</a>
        <a class="nav-item nav-link" href="/logout">Log out</a>
      {{/if}}
    </div>
  </div>
</nav>