<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
<<<<<<< HEAD
    <div class="navbar-nav">
      {{#if currentUser}}
        <a class="nav-item nav-link" href="/user/overview">Overview</a>
        <a class="nav-item nav-link" href="/users/user-Profile">Profile</a>
        <a class="nav-item nav-link" href="/logout">Log out</a>
      {{else}}
        <a class="nav-item nav-link" href="/signup">Sign up</a>
        <a class="nav-item nav-link" href="/login">Log in</a>
        <a class="nav-item nav-link" href="/logout">Log out</a>

=======
    <ul class="navbar-nav mr-auto">
      {{#if loggedIn}}
        <li class="nav-item">
          <a class="nav-link" href="/users/overview">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/goals/myGoals">My goals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/user-Profile">My profile</a>
        </li>
      </ul>
    {{/if}}
    <span class="navbar-nav navbarNavAltMarkup">
      {{#if loggedIn}}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log out</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log in</a>
        </li>
>>>>>>> 80126b5772747c732f04fe92b71a3dc1357f1851
      {{/if}}
    </span>
  </div>
</nav>