<div class="error shadow p-3 mb-5 bg-white rounded" style="color: red;">
  <h1>Oh no! Error!</h1>
  <span style='font-size:100px;'>&#128546;</span>
  <h2>There was an error on the server! Please try again later!</h2>
</div>

