<div class="container align-items-center">
  <div class="row align-items-center">
    <h1>GOAL TRACKER</h1>
    <p>Track your goals, with our app.</p>
  </div>

  <div class="row">
    <a href="/signup"><button class="btn btn-light">Sign up!</button></a>
    <a href="/login"><button class="btn btn-light">Log in</button></a>
  </div>
</div>