<div class="container">
  <div class="row">
    <div class="col-md-6">
        {{> card goal}}
    </div>
    <div class="col-md-4">
      <div class="task-container shadow p-3 mb-5 bg-white rounded">
          {{> tasks goal.tasks}}
          <form action="/tasks/create?id={{goal._id}}" method="POST">
            <div class="form-group">
              <input id="newTaskInput" type="text" class="form-control" name="title" aria-describedby="emailHelp" placeholder="task name..">            
              <a href="#" id="addTask" data-goalId="{{goal._id}}"><i class="fa fa-plus fa-2x"></i></a>             
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  var tasks = document.querySelectorAll('input');

  tasks.forEach((task)=>{
    task.addEventListener('click', ()=>{
      let taskId = task.value;
      const queryParams = new URLSearchParams(window.location.search);
      const goalId = queryParams.get("id")
      let url = `http://localhost:3000/goals/update?id=${goalId}&taskId=${taskId}`;
      console.log(url);
      axios.post(url)
        .then(response=>{
            console.log(response);
            task.nextElementSibling.classList.add('checked');
            task.checked=true;
            task.disabled=true;
        })
        .catch(error=>{
          console.log('error while updating task', error);
        })
    });
  });

  //add new task
  var addTaskBtn = document.getElementById('addTask');
  addTaskBtn.addEventListener('click', ()=>{
    const goalId = addTaskBtn.getAttribute('data-goalId');
    const taskTitle = document.getElementById('newTaskInput').value;
    const url = `http://localhost:3000/tasks/create?id=${goalId}&title=${taskTitle}`;
    
    var ulElement = document.querySelector('.list-group');

    axios.post(url)
      .then((response)=>{
        let liElement = document.createElement('li');
        liElement.classList.add('list-group-item');
        let liInnerText = `<input type="checkbox" name="task" value="${response.data.taskId}">
                            <label for="task">${taskTitle}</label>`
        liElement.innerHTML = liInnerText;
        ulElement.appendChild(liElement);
        document.getElementById('newTaskInput').value = "";
      })
      .catch(err=>{
        console.log(err);
      })
  });
</script>

<script>
  debugger
  var deleteButton = document.getElementById('deleteBtn');
  var goalId = deleteButton.getAttribute('data-goalId');
  const url = `http://localhost:3000/goals/delete?id=${goalId}`;

  deleteButton.addEventListener('click', ()=>{
    axios.post(url)
      .then((response)=>{
        debugger
        location.replace("http://localhost:3000/users/overview");
      })
      .catch(err=>{
        console.log(err);
      })
  });
</script>

