<div class="container">
  <div class="row">
    <div class="col-md-6">
        {{> card goal}}
    </div>
    <div class="col-md-4">
      <div class="task-container shadow p-3 mb-5 bg-white rounded">
          {{> tasks goal.tasks}}
          <form action="/tasks/create?id={{goal._id}}" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" name="title" aria-describedby="emailHelp" placeholder="task name..">
              <a href="#"><i class="fa fa-plus fa-2x"></i></a>
              
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  var tasks = document.querySelectorAll('input');
  tasks.forEach((task)=>{
    task.addEventListener('click', ()=>{
      let taskId = task.value;
      const queryParams = new URLSearchParams(window.location.search);
      const goalId = queryParams.get("id")
      let url = `http://localhost:3000/goals/update?id=${goalId}&taskId=${taskId}`;
      console.log(url);
      axios.post(url)
        .then(response=>{
            console.log(response);
            task.nextElementSibling.classList.toggle('checked');
            task.checked=true;
            task.disabled=true;
        })
        .catch(error=>{
          console.log('error while updating task', error);
        })
    });
  });
</script>

