{{> create}}
{{!-- {{> createTask}} --}}

{{!-- <div class="container-fluid" id="goals">
  <div class="row">
      <p><a href="#" data-toggle="modal" data-target="#addGoalModal">Add Goal</a></p>
  </div>
  <div class="row">
    {{#each goals}}
          {{> card this}}
     {{/each}}
  </div>
</div> --}}

<div class="container-fluid" id="my-goals">
  <div class="row">
  <div class="col-md-4">
    <div class="accordion" id="accordionExample">
      {{#each goals}}
          {{> card this}}
      {{/each}}
    </div>
    </div>
    </div>
</div>

