@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,700&display=swap');

html, body {
  height:100%;
  width:100%;
  font-family: 'Montserrat';
}
#home {
  background: url("../images/index-bg.png") no-repeat 50% 50%;
  display: table;
  height:100%;
  width:100%;
  background-size: cover;
}
.landing-text{padding-top: 5%;display:table-cell;vertical-align:top;text-align:center;font-family:  sans-serif;font-weight: bold;}

.landing-text a{
  padding: 0.2% 1.2%;
  margin: 0.5%;
}

h1{
  font-size: 3em;
  line-height: 1.1;
}
h3 {
    font-size:200%;
   font-weight:600;
}
.btn-default{
    font-size:170%
  }