@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:900');

html, body {
  height:100%;
  width:100%;
}
#home {
  background: url("../images/goal.jpg") no-repeat 50% 50%;
  display: table;
  height:100%;
  width:100%;
  background-size: cover;
}
.landing-text{
   display:table-cell;
   vertical-align:middle;
   text-align:center;
}
h1{
  font-family: 'Alegreya Sans', sans-serif;
  font-size:700%;
  line-height:.8;
}
h3 {
    font-size:200%;
   font-weight:600;
}
.btn-default{
    font-size:170%
  }