@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:900');

html, body {
  height:100%;
  width:100%;
}
#home {
  background: url("../images/index-bg.png") no-repeat 50% 50%;
  display: table;
  height:100%;
  width:100%;
  background-size: cover;
}
.landing-text{
padding-top: 5%;  
 display:table-cell;
   vertical-align:top;
   text-align:center;
   font-family:  sans-serif;
   font-weight: bold;
}

h1{
  font-family: 'Alegreya Sans', sans-serif;
  font-size:700%;
  line-height:.8;
}
h3 {
    font-size:200%;
   font-weight:600;
}
.btn-default{
    font-size:170%
  }