  #goals h1{
    font-size: 1.5rem;
    margin:2% 0;
  }
  .card-body h5{
    margin-bottom: 0%;
  }

  .card-body p{
    margin-bottom: 2rem;
  }
  .card-body span {
    background-color: deeppink;
    color: white;
    padding: 1.8%;
    margin: 0.5%;
  }
  .card-footer a{
    float: right;
  }