@import url("https://fonts.googleapis.com/css?family=Satisfy");

.card-shadow{
  margin-top: 15px;
  border-radius: 10px;
  padding-bottom: 10px;
  box-shadow:0px 0px 10px 0px #A4A4A4;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #A4A4A4;
  background-color: white;
  
}

#quote {
  font-family: "Satisfy", Times, serif;
  font-style: italic;
}