<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
<div class="row">
				<div class="col-md-6">
					<h2>
						Welcome {{user.firstName}}!
					</h2>
					<p>
						Today is <span class="weekday-label"></span>, <span class="day-label"></span> <span class="month-label"></span>
					</p>
					<div class="btn-toolbar" role="toolbar">
						<button class="btn btn-secondary" type="button">
							Create a new task
						</button> 
						<button class="btn btn-secondary" type="button">
							Track a new goal
						</button>
					</div>
				</div>
				<div class="col-md-6">
            <img alt="Your profile picture" src="{{user.profilePicture}}" /> 
            <br>
            <a href="/users/user-Profile">
              <button type="button" class="btn btn-success">
                Edit profile
              </button>
            </a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2>
						Today's tasks
					</h2>
					<p>
            <i>
              for each, show task with goal's name and priority
            </i>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h2>
						This month's goals
					</h2>
					<p>
            <i>
              for each, show goal's name, progress bar, due date
            </i>
					</p>
				</div>
				<div class="col-md-6">
					<h2>
						This quarter's goals
					</h2>
					<p>
            <i>
              for each, show goal's name, progress bar, due date 
            </i>
					</p>
				</div>
			</div>
      <div class="row">

      </div>
		</div>
	</div>
</div>







<!-- Header's date script -->
<script>
let date = new Date();
let day = date.getDate();
let year = date.getFullYear();
let monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
let dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
let monthLabel = document.getElementsByClassName('month-label')[0].innerHTML = monthNames[date.getMonth()];
let dayLabel = document.getElementsByClassName("day-label")[0].innerHTML = day;
let weekdayLabel = document.getElementsByClassName("weekday-label")[0].innerHTML = dayNames[date.getDay(0)];
</script>

<!-- YYYY-MM-DD date format script -->
<script>
let today = new Date();
let dd = today.getDate();
let mm = today.getMonth()+1; 
const yyyy = today.getFullYear();
if(dd<10) {dd=`0${dd}`} 
if(mm<10) {mm=`0${mm}`} 
today = `${yyyy}-${mm}-${dd}`;
</script>

<!-- Current month function -->
<script></script>

<!-- Current quarter function -->
<script></script>

{{!-- 2020-06-11T00:00:00.000+00:00 --}}