<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div class="container-fluid p-3">
	<div class="row">
		<div class="col-md-12">
			<div class="row align-items-center">
				<div class="col-md-6 text-center">
					<div class="card m-3" style="min-height: 12em;">
						<div class="card-body">
              <h4 class="card-title"><label id="lblGreetings"></label> {{user.firstName}}!</h4>
              <img class="mb-3" src="/images/default.png" alt="Profile picture thumbnail" width="150" height="150" style="border-radius: 50%;" />
              <h6 class="card-subtitle mb-3 text-muted">Today is <span class="weekday-label"></span>, <span class="day-label"></span> <span class="month-label"></span></h6>
              <button type="button" class="btn btn-outline-primary">Add a task</button>
              <button type="button" class="btn btn-outline-primary">Track a new goal</button>
						</div>
					</div>
				</div>
				<div class="col-md-6">
          <p>Randon motivational quote goes here</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
				<div class="col-md-12">
					<div class="card m-3">
            <h5 class="card-header">
              Today's tasks
            </h5>
            <ul class="list-group list-group-flush">
              {{!-- {{#if task.dueDate}} --}}
                {{!-- {{#each task}} --}}
                  <li class="list-group-item">
                    <input type="checkbox" id="task" name="task" value="task">
                    <label for="task">Task name</label>
                    <span class="badge badge-secondary">Goal's name</span>
                    <span class="badge badge-success">Category</span>
                    <span class="badge badge-info">Priority</span>
                  </li>
                  <li class="list-group-item">
                    <input type="checkbox" id="task" name="task" value="task">
                    <label for="task">Task name</label>
                    <br>
                    <span class="badge badge-secondary">Goal's name</span>
                    <span class="badge badge-success">Category</span>
                    <span class="badge badge-info">Priority</span>
                  </li>
                  <li class="list-group-item">
                    <input type="checkbox" id="task" name="task" value="task">
                    <label for="task">Task name</label>
                    <br>
                    <span class="badge badge-secondary">Goal's name</span>
                    <span class="badge badge-success">Category</span>
                    <span class="badge badge-info">Priority</span>
                  </li>
                  <li class="list-group-item">
                    <input type="checkbox" id="task" name="task" value="task">
                    <label for="task">Task name</label>
                    <br>
                    <span class="badge badge-secondary">Goal's name</span>
                    <span class="badge badge-success">Category</span>
                    <span class="badge badge-info">Priority</span>
                  </li>
                  <li class="list-group-item">
                    <input type="checkbox" id="task" name="task" value="task">
                    <label for="task">Task name</label>
                    <br>
                    <span class="badge badge-secondary">Goal's name</span>
                    <span class="badge badge-success">Category</span>
                    <span class="badge badge-info">Priority</span>
                  </li>
                {{!-- {{/each}} --}}
              {{!-- {{/if}} --}}
            </ul>
          </div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
          <div class="card m-3">
            <h5 class="card-header">
              This month's goals
            </h5>
            <ul class="list-group list-group-flush">
              {{!-- {{#if goal.startDate}} --}}
                {{!-- {{#each goal}} --}}
                  <li class="list-group-item">
                      <span class="float-left">Goal's name</span>
                      <span class="float-right">Due date</span>
                      <br>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                      </div>
                  </li>
                  <li class="list-group-item">
                      <span class="float-left">Goal's name</span>
                      <span class="float-right">Due date</span>
                      <br>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                      </div>
                  </li>
                  <li class="list-group-item">
                      <span class="float-left">Goal's name</span>
                      <span class="float-right">Due date</span>
                      <br>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
                      </div>
                  </li>
                {{!-- {{/each}} --}}
              {{!-- {{/if}} --}}
            </ul>
          </div>
				</div>
				<div class="col-md-6">
          <div class="card m-3">
            <h5 class="card-header">
              This quarter's goals
            </h5>
            <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <span class="float-left">Goal's name</span>
                      <span class="float-right">Due date</span>
                      <br>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">5%</div>
                      </div>
                  </li>
            </ul>
          </div>
				</div>
			</div>
      <div class="row">

      </div>
		</div>
	</div>
</div>


<!-- Time based greetings -->
<script>
  let myDate = new Date();
  let hrs = myDate.getHours();
  let greet;

  if (hrs < 12) {
    greet = 'Good Morning'
    } else if (hrs >= 12 && hrs <= 17) {
      greet = 'Good Afternoon'
    } else if (hrs >= 17 && hrs <= 24) {
      greet = 'Good Evening'};

  document.getElementById('lblGreetings').innerHTML = greet;
</script> 

<!-- Header's date script -->
<script>
  let date = new Date();
  let day = date.getDate();
  let year = date.getFullYear();
  let monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
  let dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
  let monthLabel = document.getElementsByClassName('month-label')[0].innerHTML = monthNames[date.getMonth()];
  let dayLabel = document.getElementsByClassName("day-label")[0].innerHTML = day;
  let weekdayLabel = document.getElementsByClassName("weekday-label")[0].innerHTML = dayNames[date.getDay(0)];
</script>

{{!-- 2020-06-11T00:00:00.000+00:00 --}}