{{> navbar}}
<div class="container-fluid">

  <!-- Welcome, date and user profile picture -->
  <div class="row">
    <div class="col-sm">
      <h4>Welcome {{user.firstName}}!</h4>
      <span class="weekday-label"></span>, <span class="day-label"></span> <span class="month-label"></span>
    </div>
    <div class="col-sm">
      <img src="{{user.profilePicture}}" alt="Your profile picture">
      <a href="/users/user-Profile">Edit your profile</a>
    </div>
  </div>

<!-- Today's tasks overview block-->
<div class="row">
  <div class="col-sm">
    <h5>Today's tasks:</h5>
  </div>
</div> 

  <div class="row">
    <!-- Monthly overview block-->
    <div class="col-sm">
      <h5>This month's goals:</h5>
      {{#if goal.startDate }} <!-- If current date > start and < end dates --> 
        {{#each goal}}
          {{goal.name}}
          {{goal.tasks}}
        {{/each}}
      {{/if}}
    </div>
    <!-- Quartely overview block-->
    <div class="col-sm">
      <h5>This quarter's goals:</h5>
    </div>
  </div>

</div>

<!-- Header's date script -->
<script>
let date = new Date();
let day = date.getDate();
let year = date.getFullYear();
let monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
let dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
let monthLabel = document.getElementsByClassName('month-label')[0].innerHTML = monthNames[date.getMonth()];
let dayLabel = document.getElementsByClassName("day-label")[0].innerHTML = day;
let weekdayLabel = document.getElementsByClassName("weekday-label")[0].innerHTML = dayNames[date.getDay(0)];
</script>

<!-- YYYY-MM-DD date format script -->
<script>
let today = new Date();
let dd = today.getDate();
let mm = today.getMonth()+1; 
const yyyy = today.getFullYear();
if(dd<10) {dd=`0${dd}`} 
if(mm<10) {mm=`0${mm}`} 
today = `${yyyy}-${mm}-${dd}`;
</script>

<!-- Current month function -->
<script></script>

<!-- Current quarter function -->
<script></script>

{{!-- 2020-06-11T00:00:00.000+00:00 --}}